.embla {
    max-width: 100vw;
    --slide-height: 40rem;
    --slide-spacing: 0.75rem;
    --slide-size: 80%;
}

/* Larger screens: apply .embla styles */
@media (min-width: 1024px) {
    /* Tailwind 'lg' breakpoint is 1024px */
    .embla {
        max-width: 100vw;
        --slide-height: 40rem;
        --slide-spacing: 0.75rem;
        --slide-size: 33%;
    }
}

.embla__viewport {
    overflow: hidden;
}
.embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;

    margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);

    min-width: 0;
    padding-left: var(--slide-spacing);
    /* margin-left: var(--slide-spacing); */
}
.embla__slide__content {
    box-shadow: 5px 0 0 0 rgba(229, 203, 186, 0.8);
    background-color: #f6eee3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.71' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    border: 1px;
    border-style: solid;
    border-color: black;
    font-size: 4rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    height: var(--slide-height);
    user-select: none;
}

/* Alterantive slide 
.embla__slide__content {
  position: relative;
  box-shadow: 5px 0 0 0 rgba(229, 203, 186, 0.8);
  position: relative;
  background-image: linear-gradient(
    to bottom,
    #f6eee3 calc(1em - 1px),
    #ccc calc(1em - 1px),
    #ccc 1em,
    #f6eee3 1em
  );
  background-size: 100% 1em;
  background-repeat: repeat-y;
  border: 1px;
  border-style: solid;
  border-color: black;
  font-size: 1.5rem;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
} */
.embla__slide__content:hover {
    background-color: #e8e1db;
}

.embla__controls {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 1.2rem;
    margin-top: 1.8rem;
}
.embla__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    align-items: center;
}
.embla__button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: #f6eee3;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.1rem black;
    width: 3.6rem;
    height: 3.6rem;
    z-index: 1;
    border-radius: 50%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.embla__button:hover {
    background-color: #e8e1db;
}
.embla__button:disabled {
    color: black;
}
.embla__button__svg {
    width: 35%;
    height: 35%;
}
.embla__play {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.5);
    -webkit-appearance: none;
    padding-right: 10vw;
    appearance: none;
    background-color: #f6eee3;
    touch-action: manipulation;
    border-radius: 1.8rem;
    border-color: black;
    box-shadow: inset 0 0 0 0.1rem black;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    color: BLACK;
    font-weight: 700;
    font-size: 1.4rem;
    padding: 0 2.4rem;
    min-width: 8.4rem;
}

.embla__play:hover {
    background-color: #e8e1db;
}

.embla__progress {
    border-radius: 1.8rem;
    box-shadow: inset 0 0 0 0.2rem black;
    background-color: white;
    position: relative;
    height: 0.6rem;
    justify-self: flex-end;
    align-self: center;
    width: 13rem;
    max-width: 90%;
    overflow: hidden;
}
.embla__progress__bar {
    background-color: black;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: -100%;
}
.embla__progress__bar--hidden {
    opacity: 0;
}
.embla__controls {
    grid-template-columns: auto 1fr auto;
}
.embla__progress {
    justify-self: center;
    transition: opacity 0.3s ease-in-out;
}
.embla__progress--hidden {
    opacity: 0;
}

.embla__progress__bar {
    animation-name: autoplay-progress;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
.embla__progress--hidden .embla__progress__bar {
    animation-play-state: paused;
}
@keyframes autoplay-progress {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(100%, 0, 0);
    }
}
