.glassContainer {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.glassContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;

  background-color: rgba(30, 38, 46, 0.8);
}

.glassContainer::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: 30px;
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  -webkit-filter: url(#container-glass);
  filter: url(#container-glass);
  overflow: hidden;
  isolation: isolate;
}
